<div class="container p-4 mx-auto">
  <div class="text-center mb-8">
    <h1 class="text-4xl text-gray-900 font-extrabold my-10">Booking</h1>
  </div>
  <h2 class="text-center text-gray-800 text-xl font-semibold mb-4">Select Room Type</h2>
      <<div class="flex flex-wrap justify-center gap-4">
        <div
          *ngFor="let type of roomTypes; let i = index"
          class="cursor-pointer"
          [routerLink]="['/dashboard/booking-rooms']"
          [queryParams]="{ roomType: type.categoryName }">
          <div class="flex flex-col bg-white p-5 rounded-lg shadow-md text-center w-56 hover:scale-105 items-center transition">
            <div [ngClass]="colorClasses[i % colorClasses.length]" class="p-4 rounded-full text-xl mb-3">
              🏨
            </div>
            <h3 class="text-gray-700 text-lg font-semibold">{{ type.categoryName }}</h3>
            <h5 class="text-gray-700 text-sm font-semibold">
              Total Rooms: {{ type.total }} <br>
              Available: <span class="text-green-400"> {{ type.available }} </span>
            </h5>
          </div>
        </div>
      </div>
      
    <div>
  </div>
</div>

